/**
 * Demo styles
 * Styling specific to the content and wrapping
 * elements of each styled form control,
 */
html,
body {
	font-family: arial;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	line-height: 1.4;
	padding: 2em 1em;
}

h4, h5 {
	font-size: 1.05em;
	line-height: 1.2;
}

main {
	border-top: 1px solid #888;
	margin-top: 1.5em;
	padding-top: .25em;
}

pre {
	background: #fdfdfd;
	border: 1px solid #ccc;
	max-width: 100%;
	overflow: auto;
	padding: .5em;
}

hr {
	margin: 1.5em 0;
}

.demo-wrap {
	margin: 2em auto;
	max-width: 580px;
}

.demo-details {
	border-top: 1px solid #888;
	margin-top: 2em;
	padding-top: 2em;
}

.demo-details > h3 {
	margin-top: 0;
}

/* IE + Edge need this to not treat as non-block element */
details {
	display: block;
}

p code {
	white-space: nowrap;
}
