/**
 * Styling for consistent demos
 */
html,
body {
	font-family: arial;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.4;
	padding: 2em 1em;
}

h1, h2, h3 {
	line-height: 1.1;
}

.demo-wrap {
	margin: 2em auto;
	max-width: 580px;
}

main {
	border-top: 1px solid #888;
	margin-top: 1.5em;
	padding-top: .25em;
}

.demo-details {
	border-top: 1px solid #888;
	margin-top: 2em;
	padding-top: 2em;
}

.demo-details > h3 {
	margin-top: 0;
}
