.radio-pill {
	border: 0;
	padding: 0;
	margin: 0;
}

.radio-pill legend {
	display: block;
	font-size: inherit;
	font-weight: bold;
	margin-bottom: .5em;
	padding: 0;
	width: 100%;
}

.radio-pill input {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.radio-pill__group {
	background: #fafafa;
	border: 1px solid #083851;
	border-radius: 2em;
	padding: .25em;
	display: inline-block;
	position: relative;
}

.radio-pill__group label {
	border-radius: 2em;
	border: 2px solid transparent;
	color: #083851;
	display: inline-block;
	padding: .25em .75em;
}

.radio-pill__group label:hover {
	background: #E2F1FD;
	border-color: #2196f3;
}

.radio-pill[disabled] .radio-pill__group input:checked + label:hover,
.radio-pill__group input:checked + label {
	background: #2196f3;
	color: #fff;
}

.radio-pill__group label:last-of-type:after {
	border-radius: 2em;
	bottom: -.35em;
	content: "";
	left: -.35em;
	pointer-events: none; /* 1 */
	position: absolute;
	right: -.35em;
	top: -.35em;
	/*
		1. Don't like pointer-events?
			 then use z-index: -1;
	*/
}

.radio-pill__group input:focus ~ label:last-of-type:after  {
	border: 2px solid #2196f3;
}


/**
 * Disabled
 */
.radio-pill[disabled],
.radio-pill__group input[disabled] + label {
	opacity: .5;
}

.radio-pill__group input[disabled] + label:hover,
.radio-pill[disabled] label:hover {
	background: transparent;
	border-color: transparent;
	cursor: not-allowed;
}


/**
 * Undo styling that makes these pills appear as
 * if they are all checked in high contrast mode.
 */
@media screen and (-ms-high-contrast: active) {
	.radio-pill__group label {
		border: 0;
		margin: 2px;
	}

	.radio-pill__group input:checked + label {
		border: 2px solid;
		margin: 0;
	}

	.radio-pill__group label:hover {
		text-decoration: underline;
	}

	.radio-pill[disabled] .radio-pill__group label:hover {
		text-decoration: none
	}
}
