.n-radio-label {
	display: inline-block;
	padding: .5em 0;
	width: 100%;
}

.n-radio {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: #fff;
	border-radius: 100%;
	border: 1px solid transparent;
	box-shadow:
		0 0 0 2px rgba(13,81,146, 1),
		inset 0 0 0 0px rgba(13,81,146, 0);
	display: inline-block;
	height: 1.25em;
	margin-right: .25em;
	transition:
		border-color .2s ease-in-out,
		box-shadow .2s ease-in-out;
	vertical-align: text-bottom;
	width: 1.25em;
}

.n-radio:focus {
	border-color: transparent;
	box-shadow:
		0 0 0 2px rgba(13, 81, 146, 1),
		inset 0 0 0 0px rgba(13, 81, 146, 1);
}

.n-radio:checked {
	border-color: #fff;
	box-shadow:
		0 0 0 2px rgba(34, 139, 236, 1),
		inset 0 0 0 6px rgba(13, 81, 146, 1);
}

.n-radio:checked:focus {
	box-shadow:
		0 0 0 3px rgba(34, 139, 236, 1),
		inset 0 0 0 3px rgba(13, 81, 146, 1);
}

.n-radio[disabled],
.n-radio[disabled] + span {
	opacity: .4;
}

@media screen and (-ms-high-contrast: active) {
	.n-radio:checked {
		border: 6px solid;
		box-shadow: none;
	}
}
