/**
 * 1. Remove webkit redesign of searches
 *
 * 2. Remove inner padding & search cancel button in Safari & Chrome on
 *    OS X. Safari (but not Chrome) clips the cancel button when the
 *    search input has padding (& `textfield` appearance).
 */
input[type="search"] {
	-webkit-appearance: none; /* 1 */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; /* 2 */
	appearance: none;
}

/**
 * Component Specific Styling
 */
.search-widget {
	border: 1px solid #565656;
	display: block;
	padding-right: 2.5em;
	position: relative;
}

.search-widget svg {
	display: block;
}

.search-widget > input[type="search"] {
	border: 0;
	border-right: 1px solid #565656;
	padding: .5em;
	width: 100%;
}

.search-widget > [type="submit"] {
	background: #eee;
	border: 0;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 2.5em;
}

.search-widget > input[type="search"]:focus,
.search-widget > [type="submit"]:not([disabled]):hover,
.search-widget > [type="submit"]:focus {
	box-shadow: inset 0 0 0 1px #4184F3;
	outline: 1px solid #4184F3;
	outline-offset: 0;
}

.search-widget > input[type="search"]:focus {
	border-right-color: #4184F3;
}

.search-widget > [type="submit"]:not([disabled]):hover,
.search-widget > [type="submit"]:focus {
	background: #4184F3;
}

.search-widget > [type="submit"]:focus svg,
.search-widget > [type="submit"]:not([disabled]):hover svg {
	fill: #fff;
}

/**
 * Disabled
 */
.search-widget > [type="search"][disabled],
.search-widget > [type="submit"][disabled] {
	background: #fafafa;
	cursor: not-allowed;
	opacity: .5;
}


@media screen and (-ms-high-contrast: active) {
	.search-widget {
		border: none;
	}

	.search-widget > input[type="search"] {
		border: 1px solid;
		border-right: 1px solid;
		position: relative;
	}

	.search-widget > [type="submit"],
	.search-widget > input[type="search"]:focus {
		z-index: 4;
	}

	.search-widget > [type="submit"]:focus {
		border: 1px solid;
	}

	.search-widget svg {
		fill: #fff;
	}

	.search-widget > [type="search"][disabled],
	.search-widget > [type="submit"][disabled] {
		opacity: .5;
	}
}
