/**
 * Button Switch Component
 */
.btn-switch {
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #565656;
	cursor: pointer;
	display: block;
	padding: 1em .5em;
	position: relative;
	text-align: left;
	width: 100%;
}

.btn-switch:hover {
	box-shadow: 0 0 2px 1px #0d5192;
}

/* styling specific to the toggle "container" */
.btn-switch__toggle {
	background: #eee;
	border-radius: 1.75em;
	height: 2em;
	overflow: hidden;
	width: 2.75em;
}

.btn-switch__toggle,
.btn-switch__toggle:after {
	box-shadow: 0 0 0 1px #444; /* 1 */
	content: "";
	pointer-events: none;
	position: absolute;
	right: .25em;
	top: 50%;
	transform: translateY(-50%);
	/*
	1. a box shadow is used here as the "border" for the visual toggle element,
	   as using a normal border on mobile webkit browsers, caused odd clipping to
	   occur when changing on/off state.  This clipping does not occur when
	   using box shadow instead.
	 */
}

/* styling specific to the toggle of the switch */
.btn-switch__toggle:after {
	background: #fff;
	border-radius: 100%;
	height: 1.75em;
	right: 1em;
	transition: right .2s ease-in-out;
	width: 1.75em;
}


/**
 * Basic Focus / Active State Styling
 */
.btn-switch:active {
	color: inherit;
}

.btn-switch:focus .btn-switch__toggle {
	outline: 2px solid;
}


/**
 * Toggle On State Styling:
 *
 * Update the background of the switch toggle button
 * as well as moving the position of the toggle.
 */
.btn-switch[aria-pressed="true"] .btn-switch__toggle {
	background: green;
}

.btn-switch[aria-pressed="true"] .btn-switch__toggle:after {
	right: 0em;
}
