/* containing label */
.toggle-switch {
	background: none;
	border: 1px solid transparent;
	box-shadow: 0 0 0px #2196f3;
	display: block;
	font-size: inherit;
	line-height: 1;
	overflow: hidden;
	margin: 1em 0 0;
	padding: .5em;
	position: relative;
	text-align: left;
	transition: box-shadow .2s ease-in-out;
	width: 100%;
}

.toggle-switch:hover {
	box-shadow: 0 0 2px #2196f3;
}

.toggle-switch:focus {
	outline: none;
}

/* negate 'flash' of text color when pressing a button in some browsers */
.toggle-switch:active {
	color: inherit;
}

/* using the before/after pseudo elements of the span to create the "switch" */
.toggle-switch__ui:before,
.toggle-switch__ui:after {
	border: 1px solid #565656;
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* styling specific to the knob of the switch */
.toggle-switch__ui:after {
	background: #fff;
	border-radius: 100%;
	height: 1.5em;
	right: 1.5em;
	transition: right .1825s ease-in-out;
	width: 1.5em;
}

/* styling specific to the knob "container" */
.toggle-switch__ui:before {
	background: #eee;
	border-radius: 1.75em;
	height: 1.75em;
	right: .25em;
	transition: background .2s ease-in-out;
	width: 2.75em;
}

.toggle-switch span {
	pointer-events: none;
}

.toggle-switch:focus .toggle-switch__ui:before {
	outline: 2px solid #2196f3;
}

/* change the position of the knob to indicate it has been checked*/
.toggle-switch[aria-pressed="true"] .toggle-switch__ui:after {
	right: .25em;
}

/* update the color of the "container" to further visually indicate state */
.toggle-switch[aria-pressed="true"] .toggle-switch__ui:before {
	background: #2196f3;
}

/**
 * Toggle switch modifications for displaying On/Off labels
 */
.toggle-switch--labels span:before {
	content: "Off";
	color: rgba(10, 10, 10, 1);
	line-height: 1.6;
	text-indent: 1.625em;
	width: 3.5em;
}

.toggle-switch--labels[aria-pressed="false"] span:after {
	right: 2.2em;
}

.toggle-switch--labels[aria-pressed="true"] span:before {
	color: rgba(255 ,255 ,255 ,1);
	content: "On";
	text-indent: .25em;
	text-shadow: 0 0 1px #000;
}

@media screen and (-ms-high-contrast: active) {
	.toggle-switch__ui:after {
		background-color: windowText;
	}
}
